In [ ]:
import pandas as pd 
import numpy as np

import os

from tqdm import tqdm

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [ ]:
def read_table(table_path):
        df = pd.read_excel(table_path, skiprows=28)
        df = df.iloc[: , 8:]

        df.drop(df.tail(49).index,
                inplace = True)

        df = df.set_index('INCOME STATEMENT').transpose()
        cols_to_drop = ['BALANCE SHEET', 'CASH FLOW STATEMENT', 'CHANGES TO SHAREHOLDER EQUITY', 'Ratios']
        df.drop(cols_to_drop, axis=1, inplace=True)
        return df

In [ ]:
train_dir = 'data/oil_gas_train/'

df = pd.concat([read_table(os.path.join(train_dir, file)) for file in tqdm(os.listdir(train_dir))])
# df = df[df.columns[df.nunique(dropna=False) > 1]]
df.shape

In [130]:
df[df.columns[df.nunique(dropna=False) > 1]].shape

(2056, 440)

In [132]:
df.columns[df.nunique(dropna=False) > 1]

Index([                             'Revenue',
                                 'Consensus:',
           '% Surprise | % Est. vs Consensus',
                       'Revenue Growth (YoY)',
                            'Cost of Revenue',
                               'Gross Profit',
                               'Gross margin',
                     'Other Operating Income',
                         'Operating Expenses',
                   'Selling, General & Admin',
       ...
                          'EBITDA / Interest',
                  'EBITDA - CAPEX / Interest',
                            'CAPEX / REVENUE',
                             'CAPEX / EBITDA',
                                 'FCF / DEBT',
       'Gross Leverage (Total Debt / EBITDA)',
           'Net Leverage (Net Debt / EBITDA)',
        'Total Liabilities / Tangible Assets',
                   'Cash + AR / Total Assets',
                          'Cash % of Revenue'],
      dtype='object', name='INCOME STATEMENT', length=281)

In [125]:
df['Total Assets']

INCOME STATEMENT        Total Assets Total Assets
2011-03-31 00:00:00                0          NaN
2011-06-30 00:00:00                0          NaN
2011-09-30 00:00:00                0          NaN
2011-12-31 00:00:00          624.656          NaN
2012-03-31 00:00:00       688.609024          NaN
2012-06-30 00:00:00       791.235008          NaN
2012-09-30 00:00:00       856.284992          NaN
2012-12-31 00:00:00      1684.009984          NaN
2013-03-31 00:00:00      1819.484032          NaN
2013-06-30 00:00:00      2565.843968          NaN
2013-09-30 00:00:00      2704.470016          NaN
2013-12-31 00:00:00       2342.10688          NaN
2014-03-31 00:00:00      2330.011904          NaN
2014-06-30 00:00:00      2243.283968          NaN
2014-09-30 00:00:00      2279.969024          NaN
2014-12-31 00:00:00      2447.174912          NaN
2015-03-31 00:00:00      2271.599104          NaN
2015-06-30 00:00:00      1796.237952          NaN
2015-09-30 00:00:00      1298.061056          NaN
2015-12-31 00:00:00       679.166976          NaN
2016-03-31 00:00:00       782.844992          NaN
2016-06-30 00:00:00       729.294016          NaN
2016-09-30 00:00:00       695.692032          NaN
2016-12-31 00:00:00       760.939008          NaN
2017-03-31 00:00:00       789.337984          NaN
2017-06-30 00:00:00          801.648          NaN
2017-09-30 00:00:00       805.038976          NaN
2017-12-31 00:00:00          688.128          NaN
2018-03-31 00:00:00       645.622016          NaN
2018-06-30 00:00:00       602.585984          NaN
2018-09-30 00:00:00       609.998976          NaN
2018-12-31 00:00:00       836.843008          NaN
2019-03-31 00:00:00       572.796992          NaN
2019-06-30 00:00:00       536.630016          NaN
2019-09-30 00:00:00       914.628992          NaN
2019-12-31 00:00:00       877.539008          NaN
2020-03-31 00:00:00       507.124992          NaN
2020-06-30 00:00:00       453.683008          NaN
2011-03-31 00:00:00     44865.998848          NaN
2011-06-30 00:00:00     46528.999424          NaN
2011-09-30 00:00:00      47481.99936          NaN
2011-12-31 00:00:00     52051.001344          NaN
2012-03-31 00:00:00     53236.998144          NaN
2012-06-30 00:00:00     57216.999424          NaN
2012-09-30 00:00:00      58809.99936          NaN
2012-12-31 00:00:00     60736.999424          NaN
2013-03-31 00:00:00     61792.002048          NaN
2013-06-30 00:00:00     63350.001664          NaN
2013-09-30 00:00:00     60238.999552          NaN
2013-12-31 00:00:00     61637.001216          NaN
2014-03-31 00:00:00     61120.999424          NaN
2014-06-30 00:00:00     61170.999296          NaN
2014-09-30 00:00:00     60990.001152          NaN
2014-12-31 00:00:00     55951.998976          NaN
2015-03-31 00:00:00     48649.998336          NaN
2015-06-30 00:00:00     35312.001024          NaN
2015-09-30 00:00:00     27811.999744          NaN
2015-12-31 00:00:00      18841.99936          NaN
2016-03-31 00:00:00     17678.999552          NaN
2016-06-30 00:00:00      24345.99936          NaN
2016-09-30 00:00:00     23149.000704          NaN
2016-12-31 00:00:00      22518.99904          NaN
2017-03-31 00:00:00     22609.999872          NaN
2017-06-30 00:00:00     22602.000384          NaN
2017-09-30 00:00:00     21834.999808          NaN
2017-12-31 00:00:00     21922.000896          NaN
2018-03-31 00:00:00     21791.000576          NaN
2018-06-30 00:00:00     21909.999616          NaN
2018-09-30 00:00:00     21870.000128          NaN
2018-12-31 00:00:00     21582.000128          NaN
2019-03-31 00:00:00      21750.99904          NaN
2019-06-30 00:00:00     21806.000128          NaN
2019-09-30 00:00:00      21404.99968          NaN
2019-12-31 00:00:00     18107.000832          NaN
2020-03-31 00:00:00     13390.999552          NaN
2020-06-30 00:00:00     12999.000064          NaN
2011-03-31 00:00:00      2483.419904          NaN
2011-06-30 00:00:00      2743.617024          NaN
2011-09-30 00:00:00          3210.56          NaN
2011-12-31 00:00:00           3788.8          NaN
2012-03-31 00:00:00       3618.79296          NaN
2012-06-30 00:00:00                0          NaN
2012-09-30 00:00:00                0          NaN
2012-12-31 00:00:00                0          NaN
2013-03-31 00:00:00      4092.879104          NaN
2013-06-30 00:00:00      4825.147904          NaN
2013-09-30 00:00:00      5672.207872          NaN
2013-12-31 00:00:00        6613.5808          NaN
2014-03-31 00:00:00      7134.456832          NaN
2014-06-30 00:00:00      8045.208064          NaN
2014-09-30 00:00:00      9315.879936          NaN
2014-12-31 00:00:00     11573.494784          NaN
2015-03-31 00:00:00      12481.95072          NaN
2015-06-30 00:00:00     12532.481024          NaN
2015-09-30 00:00:00     13577.073664          NaN
2015-12-31 00:00:00     14155.224064          NaN
2016-03-31 00:00:00      14288.71168          NaN
2016-06-30 00:00:00     13558.779904          NaN
2016-09-30 00:00:00      14629.25312          NaN
2016-12-31 00:00:00     14255.550464          NaN
2017-03-31 00:00:00     14888.653824          NaN
2017-06-30 00:00:00     15442.221056          NaN
2017-09-30 00:00:00     14849.214464          NaN
2017-12-31 00:00:00     15261.490176          NaN
2018-03-31 00:00:00     15422.849024          NaN
2018-06-30 00:00:00     15690.606592          NaN
2018-09-30 00:00:00     15802.534912          NaN
2018-12-31 00:00:00     15519.464448          NaN
2019-03-31 00:00:00     17288.730624          NaN
2019-06-30 00:00:00     17330.880512          NaN
2019-09-30 00:00:00     16120.288256          NaN
2019-12-31 00:00:00     15197.569024          NaN
2020-03-31 00:00:00     14525.789184          NaN
2020-06-30 00:00:00      13743.98976          NaN
2011-03-31 00:00:00       273.902016          NaN
2011-06-30 00:00:00       273.404992          NaN
2011-09-30 00:00:00          275.328          NaN
2011-12-31 00:00:00          267.174          NaN
2012-03-31 00:00:00       969.411968          NaN
2012-06-30 00:00:00       994.785984          NaN
2012-09-30 00:00:00      2751.437056          NaN
2012-12-31 00:00:00      5041.025024          NaN
2013-03-31 00:00:00      5580.854784          NaN
2013-06-30 00:00:00      6166.944768          NaN
2013-09-30 00:00:00      5671.437824          NaN
2013-12-31 00:00:00      5356.490752          NaN
2014-03-31 00:00:00      5676.133888          NaN
2014-06-30 00:00:00      5728.638976          NaN
2014-09-30 00:00:00      5934.411776          NaN
2014-12-31 00:00:00      6434.475008          NaN
2015-03-31 00:00:00      5806.462976          NaN
2015-06-30 00:00:00      4642.050048          NaN
2015-09-30 00:00:00      4254.761984          NaN
2015-12-31 00:00:00      3458.692096          NaN
2016-03-31 00:00:00          2848.48          NaN
2016-06-30 00:00:00      2453.810944          NaN
2016-09-30 00:00:00      1351.047936          NaN
2016-12-31 00:00:00      1319.670016          NaN
2017-03-31 00:00:00      1834.210944          NaN
2017-06-30 00:00:00      2081.350016          NaN
2017-09-30 00:00:00         2162.624          NaN
2017-12-31 00:00:00      1643.619968          NaN
2018-03-31 00:00:00      1898.072064          NaN
2018-06-30 00:00:00      1951.809024          NaN
2018-09-30 00:00:00      1986.300032          NaN
2018-12-31 00:00:00       2083.60896          NaN
2019-03-31 00:00:00      1798.838016          NaN
2019-06-30 00:00:00      1155.473024          NaN
2019-09-30 00:00:00      1166.630016          NaN
2019-12-31 00:00:00       584.665984          NaN
2020-03-31 00:00:00       712.395008          NaN
2020-06-30 00:00:00       578.590976          NaN
2011-03-31 00:00:00        528.39232          NaN
2011-06-30 00:00:00         569.0496          NaN
2011-09-30 00:00:00       626.902656          NaN
2011-12-31 00:00:00       664.348992          NaN
2012-03-31 00:00:00       725.076032          NaN
2012-06-30 00:00:00       810.050496          NaN
2012-09-30 00:00:00       925.537792          NaN
2012-12-31 00:00:00      1002.489792          NaN
2013-03-31 00:00:00      1048.750272          NaN
2013-06-30 00:00:00      1195.092608          NaN
2013-09-30 00:00:00      1299.771776          NaN
2013-12-31 00:00:00      1545.935104          NaN
2014-03-31 00:00:00         1620.144          NaN
2014-06-30 00:00:00      1647.115008          NaN
2014-09-30 00:00:00       2066.23104          NaN
2014-12-31 00:00:00       2006.08896          NaN
2015-03-31 00:00:00      2114.749952          NaN
2015-06-30 00:00:00      2092.886016          NaN
2015-09-30 00:00:00      1943.681024          NaN
2015-12-31 00:00:00       1259.64096          NaN
2016-03-31 00:00:00      1420.846976          NaN
2016-06-30 00:00:00      1298.166016          NaN
2016-09-30 00:00:00      1224.397056          NaN
2016-12-31 00:00:00      1134.477952          NaN
2017-03-31 00:00:00      1135.165056          NaN
2017-06-30 00:00:00          786.544          NaN
2017-09-30 00:00:00       804.062976          NaN
2017-12-31 00:00:00       830.371008          NaN
2018-03-31 00:00:00       872.406976          NaN
2018-06-30 00:00:00       927.441984          NaN
2018-09-30 00:00:00       938.435008          NaN
2018-12-31 00:00:00      1061.534016          NaN
2019-03-31 00:00:00      1103.387008          NaN
2019-06-30 00:00:00      1145.337984          NaN
2019-09-30 00:00:00      1199.742976          NaN
2019-12-31 00:00:00      1206.317952          NaN
2020-03-31 00:00:00      1264.068992          NaN
2020-06-30 00:00:00       1190.23104          NaN
2011-03-31 00:00:00                0          NaN
2011-06-30 00:00:00                0          NaN
2011-09-30 00:00:00                0          NaN
2011-12-31 00:00:00                0          NaN
2012-03-31 00:00:00                0          NaN
2012-06-30 00:00:00                0          NaN
2012-09-30 00:00:00                0          NaN
2012-12-31 00:00:00                0          NaN
2013-03-31 00:00:00                0          NaN
2013-06-30 00:00:00                0          NaN
2013-09-30 00:00:00                0          NaN
2013-12-31 00:00:00                0          NaN
2014-03-31 00:00:00                0          NaN
2014-06-30 00:00:00                0          NaN
2014-09-30 00:00:00                0          NaN
2014-12-31 00:00:00                0          NaN
2015-03-31 00:00:00                0          NaN
2015-06-30 00:00:00                0          NaN
2015-09-30 00:00:00                0          NaN
2015-12-31 00:00:00                0          NaN
2016-03-31 00:00:00                0          NaN
2016-06-30 00:00:00                0          NaN
2016-09-30 00:00:00                0          NaN
2016-12-31 00:00:00                0          NaN
2017-03-31 00:00:00                0          NaN
2017-06-30 00:00:00                0          NaN
2017-09-30 00:00:00                0          NaN
2017-12-31 00:00:00                0          NaN
2018-03-31 00:00:00      1562.099968          NaN
2018-06-30 00:00:00      1515.155968          NaN
2018-09-30 00:00:00       1539.60704          NaN
2018-12-31 00:00:00       1692.26304          NaN
2019-03-31 00:00:00      1583.202944          NaN
2019-06-30 00:00:00      1656.740992          NaN
2019-09-30 00:00:00      1765.577984          NaN
2019-12-31 00:00:00      1690.198016          NaN
2020-03-31 00:00:00      1559.529984          NaN
2020-06-30 00:00:00      1460.502016          NaN
2011-03-31 00:00:00                0          NaN
2011-06-30 00:00:00                0          NaN
2011-09-30 00:00:00                0          NaN
2011-12-31 00:00:00                0          NaN
2012-03-31 00:00:00                0          NaN
2012-06-30 00:00:00                0          NaN
2012-09-30 00:00:00                0          NaN
2012-12-31 00:00:00                0          NaN
2013-03-31 00:00:00                0          NaN
2013-06-30 00:00:00                0          NaN
2013-09-30 00:00:00                0          NaN
2013-12-31 00:00:00      1444.413056          NaN
2014-03-31 00:00:00                0          NaN
2014-06-30 00:00:00                0          NaN
2014-09-30 00:00:00                0          NaN
2014-12-31 00:00:00      1326.781952          NaN
2015-03-31 00:00:00      1274.290944          NaN
2015-06-30 00:00:00       1118.56896          NaN
2015-09-30 00:00:00      1161.446016          NaN
2015-12-31 00:00:00      1061.436032          NaN
2016-03-31 00:00:00      1045.843008          NaN
2016-06-30 00:00:00      1126.829952          NaN
2016-09-30 00:00:00         1137.232          NaN
2016-12-31 00:00:00      1128.827008          NaN
2017-03-31 00:00:00      1199.721984          NaN
2017-06-30 00:00:00      1250.086016          NaN
2017-09-30 00:00:00      1246.070016          NaN
2017-12-31 00:00:00      1576.450944          NaN
2018-03-31 00:00:00      1635.977984          NaN
2018-06-30 00:00:00      1669.464064          NaN
2018-09-30 00:00:00      1754.258944          NaN
2018-12-31 00:00:00      1750.124032          NaN
2019-03-31 00:00:00      1711.886976          NaN
2019-06-30 00:00:00      1724.555008          NaN
2019-09-30 00:00:00      1595.812992          NaN
2019-12-31 00:00:00      1545.208064          NaN
2020-03-31 00:00:00       1522.56704          NaN
2020-06-30 00:00:00      1438.838016          NaN
2011-03-31 00:00:00                0          NaN
2011-06-30 00:00:00                0          NaN
2011-09-30 00:00:00                0          NaN
2011-12-31 00:00:00                0          NaN
2012-03-31 00:00:00                0          NaN
2012-06-30 00:00:00                0          NaN
2012-09-30 00:00:00                0          NaN
2012-12-31 00:00:00                0          NaN
2013-03-31 00:00:00                0          NaN
2013-06-30 00:00:00                0          NaN
2013-09-30 00:00:00                0          NaN
2013-12-31 00:00:00                0          NaN
2014-03-31 00:00:00                0          NaN
2014-06-30 00:00:00                0          NaN
2014-09-30 00:00:00                0          NaN
2014-12-31 00:00:00                0          NaN
2015-03-31 00:00:00                0          NaN
2015-06-30 00:00:00                0          NaN
2015-09-30 00:00:00                0          NaN
2015-12-31 00:00:00         0.476191          NaN
2016-03-31 00:00:00        501.80432          NaN
2016-06-30 00:00:00       501.273984          NaN
2016-09-30 00:00:00        501.04992          NaN
2016-12-31 00:00:00      2651.642112          NaN
2017-03-31 00:00:00      2653.755904          NaN
2017-06-30 00:00:00       3098.56896          NaN
2017-09-30 00:00:00      3274.611968          NaN
2017-12-31 00:00:00      3616.569088          NaN
2018-03-31 00:00:00      3692.562944          NaN
2018-06-30 00:00:00      3838.889984          NaN
2018-09-30 00:00:00      4017.371904          NaN
2018-12-31 00:00:00      4260.020992          NaN
2019-03-31 00:00:00       4478.54592          NaN
2019-06-30 00:00:00      4535.327232          NaN
2019-09-30 00:00:00        4646.1312          NaN
2019-12-31 00:00:00      4688.287744          NaN
2020-03-31 00:00:00      4106.249984          NaN
2020-06-30 00:00:00      4020.886016          NaN
2011-03-31 00:00:00     34800.001024          NaN
2011-06-30 00:00:00     36656.001024          NaN
2011-09-30 00:00:00      40121.99936          NaN
2011-12-31 00:00:00     41834.999808          NaN
2012-03-31 00:00:00     45589.000192          NaN
2012-06-30 00:00:00     47525.998592          NaN
2012-09-30 00:00:00     45670.998016          NaN
2012-12-31 00:00:00     41611.001856          NaN
2013-03-31 00:00:00     42481.000448          NaN
2013-06-30 00:00:00     42145.001472          NaN
2013-09-30 00:00:00     42288.001024          NaN
2013-12-31 00:00:00     41782.001664          NaN
2014-03-31 00:00:00     42604.998656          NaN
2014-06-30 00:00:00     41126.998016          NaN
2014-09-30 00:00:00      40518.00064          NaN
2014-12-31 00:00:00       40751.0016          NaN
2015-03-31 00:00:00     34373.001216          NaN
2015-06-30 00:00:00     28597.999616          NaN
2015-09-30 00:00:00      21286.00064          NaN
2015-12-31 00:00:00     17357.000704          NaN
2016-03-31 00:00:00      15356.99968          NaN
2016-06-30 00:00:00     13486.999552          NaN
2016-09-30 00:00:00     12522.999808          NaN
2016-12-31 00:00:00     13027.999744          NaN
2017-03-31 00:00:00      11699.00032          NaN
2017-06-30 00:00:00            11920          NaN
2017-09-30 00:00:00      11980.99968          NaN
2017-12-31 00:00:00     12424.999936          NaN
2018-03-31 00:00:00     12085.999616          NaN
2018-06-30 00:00:00     12341.000192          NaN
2018-09-30 00:00:00      12659.00032          NaN
2018-12-31 00:00:00     12734.999552          NaN
2019-03-31 00:00:00      16636.99968          NaN
2019-06-30 00:00:00     16540.000256          NaN
2019-09-30 00:00:00      16579.00032          NaN
2019-12-31 00:00:00     16193.000448          NaN
2020-03-31 00:00:00             7808          NaN
2020-06-30 00:00:00      6552.999936          NaN
2011-03-31 00:00:00      4513.460224          NaN
2011-06-30 00:00:00      4652.370944          NaN
2011-09-30 00:00:00      5099.576832          NaN
2011-12-31 00:00:00      5646.086144          NaN
2012-03-31 00:00:00      6530.196992          NaN
2012-06-30 00:00:00      7254.311936          NaN
2012-09-30 00:00:00       8226.35008          NaN
2012-12-31 00:00:00       9140.00896          NaN
2013-03-31 00:00:00      9932.176384          NaN
2013-06-30 00:00:00     10899.982336          NaN
2013-09-30 00:00:00        11420.288          NaN
2013-12-31 00:00:00     11941.182464          NaN
2014-03-31 00:00:00     12764.901376          NaN
2014-06-30 00:00:00     14377.505792          NaN
2014-09-30 00:00:00     14712.086528          NaN
2014-12-31 00:00:00     15145.069568          NaN
2015-03-31 00:00:00        15435.264          NaN
2015-06-30 00:00:00     15409.851392          NaN
2015-09-30 00:00:00     15205.876736          NaN
2015-12-31 00:00:00        14919.808          NaN
2016-03-31 00:00:00     14633.389056          NaN
2016-06-30 00:00:00      14359.73632          NaN
2016-09-30 00:00:00      13865.25184          NaN
2016-12-31 00:00:00     13811.775488          NaN
2017-03-31 00:00:00     13826.060288          NaN
2017-06-30 00:00:00     13871.256576          NaN
2017-09-30 00:00:00     13995.086848          NaN
2017-12-31 00:00:00     14199.651328          NaN
2018-03-31 00:00:00     14377.517056          NaN
2018-06-30 00:00:00     14798.480384          NaN
2018-09-30 00:00:00      15031.06048          NaN
2018-12-31 00:00:00     15297.946624          NaN
2019-03-31 00:00:00     15633.923072          NaN
2019-06-30 00:00:00      15829.42208          NaN
2019-09-30 00:00:00     15771.355136          NaN
2019-12-31 00:00:00     15727.906816          NaN
2020-03-31 00:00:00     15756.710912          NaN
2020-06-30 00:00:00     14766.357504          NaN
2011-03-31 00:00:00     12223.740928          NaN
2011-06-30 00:00:00     12201.117696          NaN
2011-09-30 00:00:00     12163.048448          NaN
2011-12-31 00:00:00     12525.700096          NaN
2012-03-31 00:00:00     12595.610624          NaN
2012-06-30 00:00:00     12597.896192          NaN
2012-09-30 00:00:00     12556.594176          NaN
2012-12-31 00:00:00     12997.594112          NaN
2013-03-31 00:00:00     12593.193984          NaN
2013-06-30 00:00:00     12752.927744          NaN
2013-09-30 00:00:00     12737.072128          NaN
2013-12-31 00:00:00     11393.667072          NaN
2014-03-31 00:00:00     11584.475136          NaN
2014-06-30 00:00:00     11566.647296          NaN
2014-09-30 00:00:00     11718.934528          NaN
2014-12-31 00:00:00     11759.529984          NaN
2015-03-31 00:00:00      11781.39648          NaN
2015-06-30 00:00:00     11002.100736          NaN
2015-09-30 00:00:00     11185.366016          NaN

In [121]:
df.columns[df.nunique() <= 1]

Index([                           nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                       'Total Assets',            'Total Liabilities',
                'Current Liabilities',            'Total Liabilities',
       'Amt Recoverable on Contracts'],
      dtype='object', name='INCOME STATEMENT')

In [117]:
 df.columns[df.nunique() > 1]

Index([                             'Revenue',
                                 'Consensus:',
           '% Surprise | % Est. vs Consensus',
                       'Revenue Growth (YoY)',
                            'Cost of Revenue',
                               'Gross Profit',
                               'Gross margin',
                     'Other Operating Income',
                         'Operating Expenses',
                   'Selling, General & Admin',
       ...
                          'EBITDA / Interest',
                  'EBITDA - CAPEX / Interest',
                            'CAPEX / REVENUE',
                             'CAPEX / EBITDA',
                                 'FCF / DEBT',
       'Gross Leverage (Total Debt / EBITDA)',
           'Net Leverage (Net Debt / EBITDA)',
        'Total Liabilities / Tangible Assets',
                   'Cash + AR / Total Assets',
                          'Cash % of Revenue'],
      dtype='object', name='INCOME STATEMENT', length=278)

In [106]:
df['Research & Development'].unique()

array([0], dtype=object)

In [96]:
df.columns[204]

float

In [83]:
df.iloc[:, 204:205]

INCOME STATEMENT  NaN
2011-03-31        NaN
2011-06-30        NaN
2011-09-30        NaN
2011-12-31        NaN
2012-03-31        NaN
...               ...
2019-06-30        NaN
2019-09-30        NaN
2019-12-31        NaN
2020-03-31        NaN
2020-06-30        NaN

[2056 rows x 1 columns]

In [64]:
df.isna().sum()

(2056, 329)

INCOME STATEMENT
Revenue                                                  0
Consensus:                                               0
% Surprise | % Est. vs Consensus                         0
Revenue Growth (YoY)                                   442
Cost of Revenue                                          0
Gross Profit                                             0
Gross margin                                             0
Other Operating Income                                   0
Operating Expenses                                       0
Selling, General & Admin                                 0
Research & Development                                   0
Depreciation & Amortization                              0
Prov. For Doubful Accounts                               0
Other Operating Expenses                                 0
Operating Income                                         0
Operating Margin                                         0
Non-Operating Income (Loss)                              0
Interest Expense, Net                                    0
Interest Expense                                         0
Interest Income                                          0
Other Investment Income (Loss)                           0
Foreign Exch Gain (Loss)                                 0
Income (Loss) from Affiliates (Pre Tax)                  0
Other Non-Op Income (Loss)                               0
Pretax Income                                            0
Consensus:                                               0
% Surprise | % Est. vs Consensus                         0
Income Taxes                                             0
Income (Loss) from Affiliates (After Tax)                0
Income (Loss) from Cont Ops                              0
Net Extraordinary Items                                  0
Discontinued Operations NI                               0
XO & Accounting Changes                                  0
Minority Interest                                        0
Net Income                                               0
Consensus:                                               0
% Surprise | % Est. vs Consensus                         0
Preferred Dividends                                      0
Other Adjustments                                        0
Net Income Avail to Common                               0
NaN                                                   2056
Net Income Avail to Common, Adj                          0
Net Abnormal Losses (Gains)                              0
Net Extraordinary Losses (Gains)                         0
NaN                                                   2056
EPS                                                      0
Consensus:                                               0
% Surprise | % Est. vs Consensus                         0
Diluted EPS                                              0
NaN                                                   2056
LTM Basic EPS                                            0
LTM Diluted EPS                                          0
NaN                                                   2056
Basic Weighted Avg Shares                                0
Diluted Weighted Avg Shares                              0
Diluted - Basic Shares                                   0
Dividends Per Share                                      0
NaN                                                   2056
Depreciation                                             0
Amortization                                             0
NaN                                                   2056
Depreciation Expense                                     0
Amortization                                             0
NaN                                                   2056
Dep % of D&A                                          2056
Dep from Median % of D&A                                 0
Amort from CF D&A                                        0
NaN                                                   2056
NaN                                                      0
NaN                                                   2056
EBIT                                                     0
EBIT (LTM)                                               0
EBITDA                                                   0
Consensus:                                               0
% Surprise | % Est. vs Consensus                         0
EBITDA (LTM)                                             0
NPAT                                                   216
Revenue (LTM)                                            0
Net Income (LTM)                                         0
Pretax Income (LTM)                                      0
NaN                                                   2056
NaN                                                   2056
G-L on Sale of Business                                  0
ARD Loss/(Recovery) on Impair of Intangible Assets     216
ROA                                                      0
Consensus:                                               0
% Surprise | % Est. vs Consensus                         0
ROE                                                      0
Consensus:                                               0
% Surprise | % Est. vs Consensus                         0
Book Value Per Share                                     0
Cash Flow Per Share                                      0
Sales Per Share                                          0
Price                                                    0
NaN                                                   2056
NaN                                                   2056
Cash, Cash Equivalents & STI                             0
Cash & Equivalents                                       0
ST Investments                                           0
Accounts & Notes Receivable                              0
Accounts Receivable                                      0
Notes Receivable                                         0
Inventories                                              0
Raw Materials                                            0
Work In Process                                          0
Finished Goods                                           0
Other Inventory                                          0
Unbilled Revenue                                         0
Other ST Assets                                          0
Prepaid Expenses                                         0
Derivative & Hedging Assets                              0
Assets Heldfor-Sale                                      0
ST Deferred Tax Assets                                   0
Income Taxes Receivable                                  0
Discontinued Operations ST Assets                        0
Misc ST Assets                                           0
Total Current Assets                                     0
Property, Plant & Equip, Net                             0
PP&E Gross                                               0
Accumulated Depreciation                                 0
LT Investments & Receivables                             0
LT Investments                                           0
LT Marketable Securities                                 0
LT Receivables                                           0
Goodwill & Intangibles                                   0
Goodwill                                                 0
Other Intangible Assets                                  0
Other LT Assets                                          0
Prepaid Expense                                          0
LT Deferred Tax Assets                                   0
LT Derivative & Hedging Assets                           0
Prepaid Pension Costs                                    0
Discontinued Operations LT Assets                        0
Investments in Affiliates                                0
Misc LT Assets                                           0
Total Long-Term Assets                                   0
Total Assets                                             0
NaN                                                   2056
Payables & Accruals                                      0
Accounts Payable                                         0
Accruals & Other                                       432
Accrued Income Taxes                                     0
Interest & Dividends Payable                             0
Other Accrued Liabilities                                0
ST Debt                                                  0
ST Borrowings                                            0
ST Capital Leases                                        0
Current Portion of LT Debt                               0
Other ST Liabilities                                     0
ST Deferred Revenue                                      0
ST Derivatives & Hedging Liab                            0
ST Deferred Tax Liabilities                              0
Discontinued Operations ST Liab                          0
Misc ST Liabilities                                      0
Total Current Liabilities                                0
LT Debt                                                  0
LT Borrowings                                            0
LT Capital Leases                                        0
Other LT Liabilities                                     0
Accrued Liabilities                                      0
Pension Liabilities                                      0
Pensions                                                 0
Other PostRet Benefits                                   0
Deferred Compensation                                    0
LT Deferred Revenue                                      0
Deferred Tax Liabilities                                 0
Derivatives & Hedging                                    0
Discontinued Operations LT Liab                          0
Misc LT Liabilities                                      0
Total Noncurrent Liabilities                             0
Total Liabilities                                        0
Preferred Equity                                         0
Share Capital & APIC                                     0
Common Stock                                             0
Additional Paid in Capital                               0
Other Share Capital                                      0
Treasury Stock                                           0
Retained Earnings                                        0
Other Equity                                             0
Minority / Non Cont. Interest                            0
Total Equity                                             0
Total Liabilities & Equity                               0
NaN                                                   2056
A = L + SE                                             216
Current Assets                                         216
LT Assets                                              216
Total Assets                                          2056
Current Liabilities                                    216
LT Liabilities                                         216
Total Liabilities                                      216
NI QQQQ = Y                                           2056
Net Interest Check                                     216
NaN                                                   2056
Reference Items                                       2056
Cash and Marketable Securities                           0
Restricted Cash                                          0
Total Debt                                               0
Net Debt                                                 0
Total Capital                                            0
NaN                                                   2056
Line of Credit                                           0
Line of Credit Available                                 0
Line of Credit Used                                    216
Amt Recoverable on Contracts                             2
NaN                                                   2056
Operating Leases                                      2056
Rental Expense - Year 1                                  0
Rental Expense - Year 2                                  0
Rental Expense - Year 3                                  0
Rental Expense - Year 4                                  0
Rental Expense - Year 5                                  0
Rental Expense - Years 2 - 3                             0
Rental Expense - Years 4 - 5                             0
Rental Expense - Years 2 - 5                             0
Rental Expense Beyond Year 5                             0
Total Operating Lease Commitment                         0
PV of Operating Operating Lease                          0
NaN                                                   2056
Rental Expense                                           0
Interest Portion of Lease                              432
D&A Portion of Lease                                   432
NaN                                                   2056
Lease Adj EBIT                                         216
Lease Adj EBITDA                                         0
Lease Adj Int Exp                                      432
Total Debt + PV of OL                                  216
Lease Adj Total Capital                                216
NaN                                                   2056
Shares Outstanding                                       0
Share price (end of period)                              0
Days in Period                                           0
NaN                                                   2056
NaN                                                   2056
Net Income                                               0
Dep & Amort                                              0
NonCash Items                                            0
StockBased Compensation                                  0
Deferred Income Taxes                                    0
Other NonCash Adj                                        0
Change in Working Capital                                0
(Inc) Dec in Accts Receiv                                0
(Inc) Dec in Inventories                                 0
Inc (Dec) in Accts Payable                               0
Inc (Dec) in Other                                       0
Net Cash From Disc Ops                                   0
Cash from Operations                                     0
NaN                                                   2056
Change in Fixed & Intang                                 0
Disp in Fixed & Intang                                   0
Disp of Fixed Assets                                     0
Disp of Intangible Assets                                0
Acq of Fixed & Intang                                    0
Capex                                                    0
Acq of Intangible Assets                                 0
Net Change in LT Investment                              0
Dec in LT Investment                                     0
Inc in LT Investment                                     0
Net Cash From Acq & Div                                  0
Cash from Divestitures                                   0
Cash for Acq of Subs                                     0
Cash for JVs                                             0
Other Investing Activities                               0
Net Cash From Disc Ops (inv)                             0
Cash from Investing Activities                           0
NaN                                                   2056
Dividends Paid                                           0
Cash From (Repayment) Debt                               0
Cash From (Repay) ST Debt                                0
Cash From LT Debt                                        0
Repayments of LT Debt                                    0
Cash (Repurchase) of Equity                              0
Increase in Capital Stock                                0
Decrease in Capital Stock                                0
Other Financing Activities                               0
Net Cash From Disc Ops (fin)                             0
Cash from Financing Activities                           0
NaN                                                   2056
Effect of Foreign Exchanges                              0
Net Changes in Cash                                      0
Free Cash Flow                                           0
Consensus:                                               0
% Surprise | % Est. vs Consensus                         0
Free Cash Flow to Firm                                   2
Free Cash Flow to Equity                                 0
Cash Paid for Taxes                                      0
Cash Paid for Interest                                   0
Cash Paid for Preferred Div                              0
NaN                                                   2056
Free Cash Flow (LTM)                                     0
Operating Cash per Share                               415
Free Cash Flow per Share                               415
Dividends per Share (LTM)                                0
Dividend Yield (LTM)                                     0
NaN                                                   2056
Beginning Equity                                         2
Net Income                                               2
Other Comprehensive Income                               0
Dividends                                                0
Net Share Repurchases                                    0
Other                                                    2
Ending Equity                                            0
NaN                                                   2056
Beginning Shs Out                                        2
Shares Repurchased                                       0
Avg. Price per share                                     0
Shares Issued                                            2
NaN                                                   2056
Ending Shs Out                                           0
NaN                                                   2056
NaN                                                   2056
NaN                                                   2056
Share Repurchase amount                                  0
Net Shares Repurchased                                 218
NaN                                                   2056
NaN                                                   2056
NaN                                                   2056
EBITDAR                                                  0
EBITDAR (8x Rental Expense)                              0
EBITDA Margin                                          216
EBITDA / Interest                                      216
EBITDA - CAPEX / Interest                              216
CAPEX / REVENUE                                        216
CAPEX / EBITDA                                         216
FCF / DEBT                                             216
Gross Leverage (Total Debt / EBITDA)                   216
Net Leverage (Net Debt / EBITDA)                       216
Total Liabilities / Tangible Assets                    262
Cash + AR / Total Assets                               216
Cash % of Revenue                                      216
dtype: int64